{
  "extends": [
    "react-app",                 // Use default Create React App ESLint rules
    "react-app/jest"             // Include Jest testing rules (optional)
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "off", // Disable the rule
    "no-console": "off",
    "no-debugger": "off"
  }
}